.switcher {
  font-family: Arial;
  font-size: 12pt;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
  width: 173px;
  line-height: 17px;
}
.switcher a {
  text-decoration: none;
  display: block;
  font-size: 12pt;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.switcher a img {
  vertical-align: middle;
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
  opacity: 0.8;
}
.switcher a:hover img {
  opacity: 1;
}
.switcher .selected {
  background: #ffffff linear-gradient(180deg, #ffffff 0%, #ffffff 70%);
  position: relative;
  z-index: 9999;
}
.switcher .selected a {
  border: 1px solid #ededed;
  color: #0a0000;
  padding: 3px 5px;
  width: 161px;
}
.switcher .selected a:after {
  height: 24px;
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 15px;
  background-position: 50%;
  background-size: 11px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 285 285'><path d='M282 76.5l-14.2-14.3a9 9 0 0 0-13.1 0L142.5 174.4 30.3 62.2a9 9 0 0 0-13.2 0L3 76.5a9 9 0 0 0 0 13.1l133 133a9 9 0 0 0 13.1 0l133-133a9 9 0 0 0 0-13z' style='fill:%23000000'/></svg>");
  background-repeat: no-repeat;
  content: "" !important;
  transition: all 0.2s;
}
.switcher .selected a.open:after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.switcher .selected a:hover {
  background: #f2f2f2;
}
.switcher .option {
  position: absolute;
  z-index: 9998;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background-color: #ffffff;
  display: none;
  width: 171px;
  max-height: 198px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow-y: auto;
  overflow-x: hidden;
}
.switcher .option a {
  color: #000000;
  padding: 3px 5px;
}
.switcher .option a:hover {
  background: #ffffff;
}
.switcher .option a.selected {
  background: #ffffff;
}
#selected_lang_name {
  float: none;
}
.l_name {
  float: none !important;
  margin: 0;
}
.switcher .option::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f5f5f5;
}
.switcher .option::-webkit-scrollbar {
  width: 5px;
}
.switcher .option::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #888;
}
